/*全局样式开始*/
body,ul,li,p,dl,dt,dd,b,a,img{margin:0px; padding:0px;}
body{color:#333333;font-size:12px;}
a{color:#333;text-decoration:none;}
a:hover{color:#FF0000;text-decoration:none;}
img{ vertical-align:top; border:0px;}
ul{list-style:none; margin:0px;}


.clear_both{clear:both;height:0px;line-height:0px;}
.float,.banner1,.banner2{float:left;}
.banner3{float:right;}
.top1,.top2,.center,.banner{ width:950px; margin:auto; }
.bottom{ margin:auto auto 0px auto;}

.menu{width:950px; margin:auto;}


  .top1 li{ float:left; height:30px; line-height:30px; margin-right:10px;}
  .top1 img{ margin-left:100px; margin-top:5px;}
  .top1 li a{ text-decoration:none; color:#333;}
  .top1 li a:hover{ text-decoration:underline; color:#ff0000;}
  .top1 li span a{color:#ff0000;}
  .top1 li span a:hover{color:#ff0000; text-decoration:underline;}
  
  
.top2_left,.top2_right,.top2_center,.menu_left,.menu_right{ margin-top:5px;}
.top2{border-top:2px solid #ff0000;}
.top2_center{margin-left:20px;display:inline;width:550px;padding-top:20px;height:52px;}


 .top_right1 li{ width:60px; float:right; text-align:right;}
 .top_right1 a{ color:#333; text-decoration:none; }
 .top_right1 a:hover{ color:#333; text-decoration:underline;}
 .top_right2 {margin-top:20px; }
 .top_right2 li{ float:right; }
 .top_right2 li img{ margin-right:5px; }
 .global_a a,.login_center_center a,.login_center_right_news a,.sx1_box a,.sjdp_center5_news a{ text-decoration:none; line-height:24px; color:#333; }
 .global_a a:hover,.login_center_center a:hover,.login_center_right_news a:hover,.sx1_box a:hover,.sjdp_center5_news a:hover{ line-height:24px; text-decoration:underline; color:#ff0000;}
 
 
 .menu_left{ margin-right:10px; background:url(../images/menu_left1.gif) no-repeat; width:143px; height:40px; line-height:40px;}
 .menu_left p{ font-weight:bold; margin-left:35px; font-size:14px; color:#D81A1C;}
 .menu_right2 li{ float:left;}
 .menu_right{ width:797px; height:40px; line-height:40px;}
 .menu_right2{ background:url(../images/menu_center1.gif) repeat-x; width:775px;}
 
/*---------------首页导航----------------------*/
.sy_menu a:active,.sy_menua:link,.sy_menu a:visited{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:88px;  margin:0 5px; padding:0 5px;color:#fff; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px;display: block;}

.sy_menu a:hover{ float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu1.gif) no-repeat bottom; width:70px;display: block;}

.tyzx_menu a:active,.tyzx_menu a:link,.tyzx_menu a:visited{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:88px;  margin:0 5px; padding:0 5px;color:#fff; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px;display: block;}

.tyzx_menu a:hover{ float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu2.gif) no-repeat bottom; width:88px;display: block;}

.hyk_menu_index a:active,.hyk_menu a:link,.hyk_menu a:visited{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:67px;  margin:0 5px; padding:0 5px;color:#fff; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px;display: block; }
.hyk_menu a:hover{ float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu3.gif) no-repeat bottom; width:67px;display: block;}

.shsq_menu a:active,.shsq_menu a:link,.shsq_menu a:visited{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:109px;  margin:0 5px; padding:0 5px;color:#fff; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px;display: block;}
.shsq_menu a:hover{ float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu4.gif) no-repeat bottom; width:109px;display: block;}

/*---------------导航menu特效----------------------*/
.sy_menu_index a:active,.sy_menu_index a:link,.sy_menu_index a:visited{ float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu1.gif) no-repeat bottom; width:70px;display: block;}
.sy_menu_index a:hover{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:70px;  margin:0 5px; padding:0 5px;font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; display: block; text-decoration:underline;}

.tyzx_menu_tiyan a:active,.tyzx_menu_tiyan a:link,.tyzx_menu_tiyan a:visited{float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu2.gif) no-repeat bottom; width:88px;display: block;}
.tyzx_menu_tiyan a:hover{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:88px;  margin:0 5px; padding:0 5px;font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px;display: block; }

.hyk_menu_huiyuan a:active,.hyk_menu_huiyuan a:link,.hyk_menu_huiyuan a:visited{ float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu3.gif) no-repeat bottom; width:67px;display: block;}
.hyk_menu_huiyuan a:hover{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:67px;  margin:0 5px; padding:0 5px; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px;display: block; }

.shsq_menu_shequ a:active,.shsq_menu_shequ a:link,.shsq_menu_shequ a:visited{ float:left;text-decoration:none; font-size:16px; font-family:"幼园";  margin:0 5px; padding:0 5px;color:#ff0000; font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px; background:url(../images/now_menu4.gif) no-repeat bottom; width:109px;display: block;}
.shsq_menu_shequ a:hover{float:left;text-decoration:none; font-size:16px; font-family:"幼园"; width:109px;  margin:0 5px; padding:0 5px;font-weight:bold; padding:0 5px; text-align:center; line-height:40px; height:40px;display: block;}


/*全局样式结束*/

/*首页样式开始*/
.banner{width:950px; height:auto; margin-left:auto; margin-right:auto; margin-top:10px!important; margin-top:0px;}
.banner3_bottom,.center1_title{margin-top:10px;}
.banner1{ width:144px;}
.banner1_center{ background:url(../images/banner3.gif) repeat-y;}
.banner1_center li a{ color:#FFFFFF;  margin:0 1px; font-size:14px; padding-left:30px;font-weight:bold; text-decoration:none; display:block; height:27px; line-height:27px;}
.banner1_center li a:hover{ color:#fff; margin:0 1px;font-size:14px; padding-left:30px; font-weight:bold; text-decoration:none; display:block; height:27px; line-height:27px; background:url(../images/menu_now_bg.gif) no-repeat;}


.banner2{ margin-left:10px; width:484px; height:300px; background-image:url(../images/bg_pic.jpg); background-repeat:no-repeat;padding:9px 8px 11px 11px;}
.banner2_top_title{ background:url(../images/banner_right1.gif) repeat-x; height:23px; line-height:23px; text-align:right;}
.banner2_top_title span{ margin-right:10px;}  


/*-------------首页个人会员、持卡会员、商家会员登录口-----------------*/
.banner3_top{ border:1px solid #e1e1e1; width:279px;}
.Menubox_one {width:279px;height:24px;background-image:url(../images/banner_right2.gif) no-repeat;} 

.Menubox_one ul li { float:left; width:93px;height:24px;line-height:24px;text-align:center;background-image:url(../images/banner_right2.gif); background-repeat:no-repeat;display:block;cursor:pointer;}

.Menubox_one ul li.link{display:block;cursor:pointer;}
.Menubox_one ul li.hover{background-image:url(../images/banner_right2_now.gif);display:block;cursor:pointer;}


.tab_one1 {color:#1f376d;}
.tab_one2 {color:#1f376d;}
.Contentbox_one{clear:both;margin-top:10px;width:260px;} 
.Contentbox_one ul{width:100px; margin-left:6px; margin-right:6px; float:left; border:dashed 1px #ccc; padding:5px 10px 5px 10px;text-align:center; list-style-image:none; list-style-type:none;}



/*-------------公告、促销活动、最新活动-----------------*/
.banner3_bottom{ border:1px solid #e1e1e1; width:279px; margin-top:10px;}
.Menubox_two {width:279px;height:24px;background-image:url(../images/banner_right2.gif) no-repeat;} 

.Menubox_two ul li { float:left; width:93px;height:24px;line-height:24px;text-align:center;background-image:url(../images/banner_right2.gif); background-repeat:no-repeat;display:block;cursor:pointer;}

.Menubox_two ul li.link{display:block;cursor:pointer;}
.Menubox_two ul li.hover{background-image:url(../images/banner_right2_now.gif);display:block;cursor:pointer;}


.tab_two1 {color:#1f376d;}
.tab_two2 {color:#1f376d;}
.Contentbox_two{clear:both;margin-top:10px;width:auto;margin-bottom:2px;} 
.Contentbox_two ul{width:230px; margin-left:6px; margin-right:6px; float:left;padding:5px 10px 5px 10px;}
.Contentbox_two ul li{font-size:13px; list-style-image:url(../images/xtb_img.gif); margin-left:20px; margin-top:4px!important; margin-top:3px;}
.Contentbox_two ul li a:hover{text-decoration:underline;}


#Index_Main{width:950px!important; height:auto; border:solid 1px #DC1A1A; margin-left:auto; margin-right:auto; border-top:none; margin-top:0px;}

/*-------------上榜商家-----------------*/
.center1{ width:950px;height:auto;background-image:url(../images/sbsj.gif); background-repeat:no-repeat;}
.Menubox_three {width:765px; margin-left:185px; background-image:url(../images/center1_title_bg.gif); background-repeat:repeat-x; height:45px;} 
.Menubox_three ul li { float:left;height:32px;line-height:32px; margin:0px 4px;font-size:14px; color:#FFFFFF; padding-left:10px; padding-right:10px;text-align:center;display:block;cursor:pointer;}

.Menubox_three01 li.link{ width:40px; display:block;cursor:pointer;}
.Menubox_three01 li.hover{ width:40px;  background-image:url(../images/bg11.gif); color:#FF0000;display:block;cursor:pointer;}
.Menubox_three02 li.link{ width:60px; display:block;cursor:pointer;}
.Menubox_three02 li.hover{ width:60px; background-image:url(../images/bg13.gif); color:#FF0000;display:block;cursor:pointer;}

.tab_three1 {color:#1f376d;}
.tab_three2 {color:#1f376d;}
.Contentbox_three{padding-left:10px;height:auto;background:url(../images/00.gif) repeat-x;} 
.Contentbox_three ul{ margin:0px; float:left; list-style-image:none; list-style-type:none; margin-left:10px; text-align:center;}
.Contentbox_three ul li{font-size:14px;margin-top:8px;}
.Contentbox_three ul li a:hover{text-decoration:underline;}
.Contentbox_three img{ margin-bottom:5px; width:140px; height:42oxl; border:solid 1px #E4B3E2;}
.Menubox_three_end{width:920px; height:35px; margin-top:10px;text-align:right;}
.Menubox_three_end a{ font-family:"宋体"; font-size:16px; text-decoration:none; font-weight:bold;}
.Menubox_three_end a:hover{ font-family:"宋体"; font-weight:bold; font-size:16px; color:#DE1A1B;text-decoration:underline;}



/*---------------------优惠券---------------------*/
.center2{width:950px; margin-top:10px; margin-left:auto; margin-right:auto;}
.center2_title{width:950px; background:url(../images/cxhd_bg.gif) repeat-x; height:30px; line-height:30px;}
.center2_title p{ background:url(../images/cxhd.gif) no-repeat; width:141px; height:30px; line-height:30px; color:#fff; margin:0px; font-weight:bold; font-size:14px; padding-left:20px;}

.center2_bottom{width:930px;}
.center2_bottom ul li{ float:left;width:280px; margin-top:10px;font-size:14px; margin-left:10px;}
.center2_bottom ul li a{text-decoration:none;}
.center2_bottom ul li a:hover{text-decoration:underline;}



/*-------------行业资讯-----------------*/
.center3{ width:950px; height:auto; margin-left:auto; margin-top:10px;margin-right:auto; background-image:url(../images/hyzx.gif); background-repeat:no-repeat;}
.Menubox_four {width:809px; margin-left:141px; background-image:url(../images/hyzx_bg.gif); background-repeat:repeat-x; height:26px;} 
.Menubox_four ul li { float:left;height:26px;line-height:26px; margin-top:1px;font-size:14px; color:#000; padding-left:20px;text-align:center;display:block;cursor:pointer; padding-right:20px;}

.Menubox_four ul li.link{display:block;cursor:pointer;}
.Menubox_four ul li.hover{ background-image:url(../images/bg12.gif); background-repeat:repeat-x; color:#FF0000;display:block;cursor:pointer;}


.tab_four1 {color:#1f376d;}
.tab_four2 {color:#1f376d;}
.Contentbox_four{height:auto;background:url(../images/00.gif) repeat-x; margin-top:10px;} 
.Contentbox_four ul{width:260px; margin:0px; float:left; list-style-image:none; list-style-type:none;margin-left:10px;}
.Contentbox_four ul li{font-size:14px;margin-top:8px;}
.Contentbox_four ul li a:hover{text-decoration:underline;}




.center4_title{ background:url(../images/hyzx_bg.gif) repeat-x; height:27px; }
.center4_title li{ float:left; line-height:27px;display:inline; height:27px; font-size:14px; color:#333; background:url(../images/hyxw_line.gif) no-repeat; padding:0 15px; display:inline;}
.center4_title img,.center4_title ul{ float:left;}


.center4_title a,.banner3_bottom_news a,.news_list_news a,.sjdp_top_box a{ text-decoration:none; color:#333;}
.center4_title a:hover,.banner3_bottom_news a:hover,.news_list_news a:hover,.sjdp_top_box a:hover{ text-decoration:underline; color:#E63434;}


.center1_title a,.login_top a{text-decoration:none; color:#fff;}
.center1_title a:hover,.login_top a:hover{text-decoration:underline; color:#fff;}

.center1_news1{ width:950px;}
.center1_news1 dl{float:left; margin-left:15px!important; margin-left:11px; margin-top:15px; text-align:center; font-weight:bold;}
.center1_news1 img{ margin-bottom:10px;}

.center1_news1 span{line-height:30px; text-align:right; margin-right:30px; display:block;color:#333; font-weight:bold; font-size:14px;}
.center1_news1 span a{ text-decoration:none; color:#E01F20;}
.center1_news1 span a:hover{ text-decoration:underline; color:#E01F20;}
.center1_title a{ float:left; padding:0 5px; display:inline; line-height:31px; line-height:31px;}
.center1_title a:hover{ float:left;background:url(../images/now_menu_xiao.gif) repeat-x;padding:0 5px; color:#E63434; text-decoration:none; display:inline; height:31px; line-height:30px;}
.center1_news1 p a{ text-decoration:none; color:#e01f20;}
.center1_news1 p a:hover{ text-decoration:underline;color:#e01f20;}


.center4_title a{ float:left; padding:0 5px; display:inline; text-decoration:none;}
.center4_title a:hover{ float:left; background:url(../images/now_menu_xiao1.gif) repeat-x bottom;padding:0 5px; display:inline; text-decoration:none;}
/*首页样式结束*/
/*版权样式开始*/
.bottom_box{padding-top:10px;margin:auto;width:955px;line-height:24px;}
.bottom_box1 {padding-left:300px;}
.bottom_box1 li{float:left;width:80px;}
.bottom_box1 li a{margin-right:10px;}


.bottom_box2{text-align:center;width:955px;}
.bottom_box a{color:#666666;text-decoration:none;}
.bottom_box a:hover{color:#c71937;text-decoration:none;}
/*版权样式结束*/


/*资讯列表样式开始*/
.news_list_title{height:25px;line-height:25px;background:url(../images/news_list_title.gif) repeat-x;padding-left:10px;}
.news_list{ margin-top:10px;}
.news_list_news li{ float:left; width:450px; margin-left:20px; line-height:24px; margin-top:10px; display:inline;}
.news_list_news span{ margin-left:10px;}
.news_list_title a{ color:#FF0000; text-decoration:none;}
.news_list_title a:hover{ color:#FF0000; text-decoration:underline;}
/*资讯列表样式结束*/


/*咨询公告页样式开始*/
.dqwz_box{height:28px;line-height:28px;background:url(../image/dqwz_bg.gif) repeat-x;padding-left:20px;}
.dqwz_box a{text-decoration:none;color:#fc2929;}
.dqwz_box a:hover{text-decoration:underline;color:#d21335;}


.news1_top{line-height:24px;padding:0 10px;text-align:center;border-bottom:1px solid #cccccc;}
.news1{width:680px;margin-top:10px;border:1px solid #e1e1e1;}
.zxggy_left{float:left;margin-right:8px;width:682px;}


.news1_bottom_top{text-align:center;padding:5px 0;margin:5px 10px;line-height:24px;border-bottom:1px solid #cccccc;}
.news1_bottom_top b{font-weight:bold;font-size:14px;display:block;line-height:30px;}
.news1_bottom_news{line-height:24px;padding:0 10px;}


.zxggy_right{width:255px;float:left;line-height:24px;margin-top:10px;}
.zxggy_right img{margin-bottom:6px;}
.zxggy_right a{color:#3b78ae;text-decoration:none;}
.zxggy_right a:hover{color:#3b78ae;text-decoration:underline;}


.news1_bottom_news1{line-height:30px;font-size:14px;padding-left:150px;color:#bd0a01}
.news1_bottom_news1 a{color:#bd0a01;text-decoration:none;}
.news1_bottom_news1 a:hover{color:#bd0a01;text-decoration:underline;}
.news1_bottom_news1 span{float:right;font-size:14px;color:#0000ff;margin-right:150px;display:inline}
.news1_bottom_news1 span a{font-size:14px;color:#0000ff;text-decoration:none;}
.news1_bottom_news1 span a:hover{text-decoration:underline;font-size:14px;color:#0000ff;}


.news_bottom_news2{padding-left:2px;}
.news2{width:680px;margin-top:5px;}
.news2_title{line-height:23px;height:23px;background:#de3e5a;color:#FFFFFF;font-size:14px;padding-left:20px;}
.news2_bottom{border:1px solid #e1e1e1;padding-left:20px;padding-top:5px;margin-top:5px;line-height:24px;font-size:13px;color:#666666;}
.news2_bottom a,.sjdp_center_pl a{text-decoration:none;color:#333333;}
.news2_bottom a:hover,.sjdp_center_pl a:hover{text-decoration:underline;color:#d21335;}


.news3{width:680px;margin-top:5px;border:1px solid #afd3eb;}
.news3_title{height:24px;line-height:24px;background:#dff5ff;border-bottom:1px solid #afd3eb;padding-left:20px;font-size:14px;font-weight:bold;color:#000000;}


.news3_bottom{line-height:24px;padding-bottom:5px;}
.news3_bottom ul{margin-left:20px;}
.news3_bottom li{margin-top:6px;}
.news3_bottom a,.sjdp_center3_left a,.sjdp_right_fbpl a,.sjdp_center5_title span a{text-decoration:none;color:#0088e4;}
.news3_bottom a:hover,.sjdp_center3_left a:hover,.sjdp_right_fbpl a:hover,.sjdp_center5_title span a:hover{text-decoration:underline;color:#0088e4;}
.news3_bottom span{float:right;margin-right:50px;display:inline;}


.news_more_title li{float:left;height:28px;line-height:28px;}
.news_more_title li a{float:left;padding:0 16px;color:#333;background:url(../images/news_more_right_title.gif) repeat-x;}
.news_more_title li a:hover{background:url(../images/news_more_right_title1.gif) repeat-x;float:left;padding:0 16px;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;color:#ff0000;}


.news_more{border:1px solid #e1e1e1;}
.news_more_news span{background:url(../images/news_more_img1.gif) no-repeat  0 3px;margin:10px;padding:5px;color:#FFFFFF;}
.news_more_news1 span{background:url(../images/news_more_img2.gif) no-repeat  0 3px;margin:10px;padding:5px;color:#FFFFFF;}
/*咨询公告页样式结束*/


/*个人会员样式开始*/
.login_banner,.login_center{width:955px;margin:auto;}
.login_top{background:#DC1B1C;height:31px;width:955px;margin:auto;line-height:31px;}
.login_top li{color:#FFFFFF;font-size:14px;float:left;margin:0 10px;display:inline;}
.login_top span{float:right;color:#FFFFFF;margin:0 10px;display:inline;}


.login_center_left,.login_center_center{float:left;margin-top:10px;}
.login_center_left{background:url(../images/login_center1.gif) no-repeat;width:150px;padding-left:10px;}
.login_center_left img{margin:10px;}

.login_center_right{float:right;margin-left:10px;margin-top:10px;}

.login_center_right{width:220px;}
.login_center_right_title{height:25px;line-height:25px;background:#C7D9E9;text-align:center;color:#000;font-size:14px;font-weight:bold;}
.login_center_right_news {background:#FFFFFF;line-height:24px;padding-left:10px;}
.login_center_right_news ul{list-style:url(../images/login_img1.gif);margin-left:20px;}


.login_center_center{border:1px solid #C8D9E9;background:#fff;width:550px;}
.login_center_center1_title{margin:0 10px;color:#333;height:30px;line-height:30px;background:url(../images/login_img3.gif) repeat-x bottom;}
.login_center_center1_title img{margin:2px 10px 0 10px;}
.login_center_center1_title p{background:url(../images/login_img2.gif) no-repeat;padding-left:10px;display:inline; margin-top:5px; line-height:30px; font-weight:bold;}
.login_center_center{line-height:24px;padding-left:10px;}
.login_center_center1_news{padding-left:10px;}
.login_center_center1_news span{color:#666;}


.login_center_center2_title{background:#C7DCF1;padding-left:10px;border-top:1px solid #689BD0;font-weight:bold;height:20px;}
.login_center_center2{margin-right:10px;}
.login_center_center2_news li span{float:right;}
.login_center_center2_news li img{margin:0 10px;}
.login_center_center2_news li{height:24px;line-height:24px;display:block;}
.login_center_center2_news,.logint_center_center3_news{margin-top:10px;}

.logint_center_center3_news dt{float:left;}
.logint_center_center3_news dd{float:left;margin-left:10px;display:inline;}

.sx_box{text-align:right;padding-right:30px;}
.login_lyb li{margin-top:5px;}
.login_lyb_an{margin-left:50px;}
.login_center_right_news span{ float:right; margin-right:10px; display:inline;}
.login_box span{color:#FF0000;}
/*个人会员样式结束*/


/*积分商城样式开始*/
.jfsc_box ul{float:left;margin:10px 35px;width:220px;line-height:24px;text-align:center;}
.jfsc_box li p{font-weight:bold;color:#FF0000;}
.jfsc_box li p a{color:#FF0000; text-decoration:none;}
.jfsc_box li p a:hover{color:#FF0000; text-decoration:underline;}

.sx1_box{text-align:center;line-height:40px;}
.jfsc_box{border:1px solid #e1e1e1;display:block;}
/*积分商城样式结束*/


/*商家列表样式开始*/
.sjlb_box1 li{float:left;line-height:24px;margin-right:10px;}
.sjlb_box p,.sjlb_box2 p{font-size:12px;}
.sjlb_box2 p a{color:#FF0000; text-decoration:none;}
.sjlb_box2 p a:hover{color:#FF0000; text-decoration:underline;}
.sjlb_box{padding:10px;}
.sjlb_box a{ color:#373737; text-decoration:none;}
.sjlb_box a:hover{ color:#ff0000; text-decoration:underline;}

.sjlb_box2 li{text-align:center;list-style:none;width:140px;}
.sjlb_box2 ul{float:left;width:150px;margin:0px; margin-top:10px; margin-bottom:10px; margin-left:4px;line-height:24px;}
.sjlb_box2 li{background:none;}
/*商家列表样式结束*/


/*体验中心样式开始*/
.tyzx_left,.tyzx_right{float:left;margin-top:10px;}
.tyzx_left{width:647px;margin-right:10px;}
.tyzx_box{border:1px solid #e1e1e1;}
.tyzx_left{font-size:16px;line-height:30px;}
.tyzx_left span{font-weight:bold;color:#FF0000;}
/*体验中心样式结束*/


/*优惠券样式开始*/
.yhq_title img{margin:10px;}
/*优惠券样式结束*/



/*租赁体验样式开始*/
.menu1 dl{float:left;width:auto; margin:0px 20px;}
.menu1 dt,.menu1 dd{line-height:24px;float:left;}
.menu1 dt{width:20px;color:#F777F2;font-weight:bold;}
.zlty_box1{margin-top:10px;}


.zlty_box1_title{height:20px;background:url(../images/zlty_title1.gif) no-repeat;line-height:20px;padding-left:50px}
.zlty_box1_title li{ float:left;margin-right:10px!important; margin-right:7px; width:60px;}
.zlty_box1 ul{margin:0;margin-right:50px;display:inline;float:left;}
.zlty_box1_title li a{color:#666; font-size:13px;text-decoration:none;}
.zlty_box1_title li a:hover{color:#ff0000; font-size:13px;text-decoration:underline;}


.zlty_box1_news_left,.zlty_box1_news_center,.zlty_box1_news_right{margin-top:5px;float:left;}
.zlty_box1_news_left{width:205px; height:425px; margin-right:10px; border:solid 1px #ccc;}
.zlty_box1_news_left_news{padding:10px;line-height:24px;color:#E74864;}


.zlty_box1_news_center img{ border:solid 1px #FF0000;}


.zlty_box1_news_right{background:url(../images/zlty_right_img.gif) repeat-x;border:1px solid #FEDEEB;width:233px; padding-bottom:5px; float:right;}
.zlty_box1_news_right ul{line-height:24px; margin:0px;padding:0px; list-style-image:none; list-style-type:none;}
.zlty_box1_news_right li{ list-style-image:none; list-style-type:none;border-bottom:1px dotted #e1e1e1;line-height:26px;}
.zlty_box1_news_right li a:hover{text-decoration:underline;}

.zlty_box1_news_right p{ width:220px; margin-left:auto; margin-right:auto;font-size:14px;text-align:center;display:block; line-height:23px;}


.zlty_box1_news_center1{ height:140px;background:url(../images/zlty_center_img1.gif) repeat-x;width:446px;border:1px solid #F8E3F6;text-align:center;padding:10px 20px;}
.zlty_box1_news_center1 li{line-height:23px;}
.zlty_box1_news_center1 p{ text-align:left;}

.zlty_box2{margin-top:10px;}
.zlty_box2_left,.zlty_box2_right{float:left;}
.zlty_box2_left{border:1px solid #E8C6E1;width:703px;margin-right:5px;}

.zlty_box2_title{height:36px;background:url(../images/zlty_center2_img.gif) repeat-x;}

.zlty_box2_left img{ float:left;margin-right:10px;}
.zlty_box2_left span{margin-right:10px;padding-top:10px; float:left;}
.zlty_box2_left span a{color:#666; font-size:13px; font-weight:bold; text-decoration:none;}
.zlty_box2_left span a:hover{color:#ff0000; font-size:13px; font-weight:bold; text-decoration:underline;}

.zlty_box2_news dt{clear:both;}
.zlty_box2_news dd{clear:both;background:url(../images/stzq_img2.gif) repeat-x;width:164px;height:24px;line-height:24px;text-align:center;color:#FFFFFF;}
.zlty_box2_news dl{float:left;}
.zlty_box2_news{padding-left:5px;padding-top:10px; }

.zlty_box2_right_news{border:1px solid #e1e1e1;width:234px;margin-left:3px; padding-bottom:10px; padding-top:15px;}
.zlty_box2_right_news span{display:block; margin-top:11px; padding-left:20px;}


.zlty_box3{margin-top:10px;}
.zlty_box3_title{height:32px;background:url(../images/jcht.gif) no-repeat;line-height:32px;text-align:right;padding-right:30px;}
.zlty_box3_title span{padding:0 10px;}
.zlty_box3_title span a{color:#666; font-size:13px; font-weight:bold; text-decoration:none;}
.zlty_box3_title span a:hover{color:#ff0000; font-size:13px; font-weight:bold; text-decoration:underline;}

.zlty_box3_news{background:#FDF2F8;}
.zlty_box3_news1{width:297px;}
.zlty_box3_news1_top{background:url(../images/zlty_bottom1.gif) no-repeat;height:39px;line-height:39px;padding-left:40px;}
.zlty_box3_news1_center{background:url(../images/zlty_bottom2.gif) repeat-y;}
.zlty_box3_news1_top span{ float:right;margin-right:10px;display:inline;}
.zlty_box3_news1_top p{font-weight:bold;color:#D1199B;font-size:14px;}

.zlty_box3_news1_center span{background:url(../images/login_img1.gif) no-repeat 10px 10px;line-height:24px;display:block;padding-left:20px;}
.zlty_box3_news1_center p{display:inline;float:right;margin-right:10px;}
.zlty_box3_news1{float:left;margin:10px 9px;display:inline;}
/*租赁体验样式结束*/



/*商家店铺样式开始*/
.sjdp_top_box{ height:34px; line-height:34px; background:url(../images/sjdp_top_bg.gif) repeat-x; width:950px; margin:auto; border-bottom:1px solid #e1e1e1; }
.sjdp_top_box p{display:inline;font-weight:bold;margin-left:10px;color:#FF6702;float:left;text-decoration:underline;}
.sjdp_top_box  b{font-size:15px;margin:0 10px;color:#333;float:left;}
.sjdp_top_box span{float:right;margin:0 5px;display:inline;}
.sjdp_top_box img{float:left;margin-left:10px;}


.sjdp_center{width:950px;margin:auto;}
.sjdp_center1{height:30px;line-height:30px;background:#FAF8F9;margin-top:2px;padding-left:10px;margin-bottom:10px;}
.sjdp_center1 span a{text-decoration:none;}
.sjdp_center1 span a:hover{text-decoration:underline;}

.sjdp_center_box{width:948px;margin:auto;background:#F4F4F4;border:1px solid #cccccc;}


.sjdp_center3{margin:10px; border:1px solid #e1e1e1;padding:10px;background:#FFFFFF;}
.sjdp_center3_left{background:url(../images/sjdp_bg.gif) repeat-y right;width:175px;margin-right:10px;line-height:24px;text-align:center;}
.sjdp_center3_left img{margin:5px 5px;}
.sjdp_center3_left,.sjdp_center3_center,.sjdp_center4_left,.sjdp_center4_right,.sjdp_pj_right{ float:left;}
.sjdp_center3_right{width:286px;background:url(../images/sjdp_bg.gif) repeat-y left;height:100px;float:right;}
.sjdp_center3_center {padding-top:30px;}
.sjdp_center3_center li{line-height:30px;height:30px;background:url(../images/sjdp_bg1.gif) repeat-x bottom;width:420px;font-size:14px;}
.sjdp_center3_center li span{color:#FF0000;}

.sjdp_center3_right img{margin-right:10px;}


.sjdp_centerthree_right{ width:240px; float:right;}
.sjdp_centerthree_right ul li{ margin:0px;line-height:30px;list-style-image:none; list-style-type:none;}
.tell_one{color:#FF0000;font-size:16px;padding-left:40px; width:190px;}
.tell_two{color:#FF0000; font-family:Arial Black; font-size:16px;width:230px;}



.tell_box{color:#FF0000; font-family:Arial Black; background:url(../images/tell_img.gif); background-repeat:no-repeat; font-size:16px; font-weight:bold;height:30px; line-height:30px; display:block;padding-left:40px; width:190px;}


/*------------------------------*/
.sjdp_center4_left {width:171px; float:left;} 
.sjdp_center4_left ul{ float:right;}
.sjdp_center4_left ul li {font-size:14px;width:171px;height:41px;margin:5px 0px;line-height:41px;text-align:center;color:#333;text-decoration:none;display:block;cursor:pointer;}

.sjdp_center4_left ul li.link{display:block;cursor:pointer;}
.sjdp_center4_left ul li.hover{display:block;cursor:pointer;border-top:1px solid #ccc;text-decoration:none;color:#FF0000;text-align:center;border-bottom:1px solid #ccc;width:171px;background:url(../images/sjdp_now_menu.gif) no-repeat;height:41px;line-height:41px;display:block;}

.tab_ten1 {color:#1f376d;}
.tab_ten2 {color:#1f376d;}
.sjdp_center4_right{background:#fff;border:1px solid #ccc;width:755px; float:left;} 
.sjdp_center4_right li{margin:10px 10px 0 10px;line-height:24px;}

.sjdp_center4_right_title{height:27px;line-height:27px;background:#EAEAEA;margin:10px;padding-left:10px;font-size:14px;}
.sjdp_center4_right_title p{padding-left:20px;background:url(../images/sjdp_right_title_bg.gif) no-repeat 0px 3px;height:27px;}

/*------------------------------*/






.sjdp_center4{margin:10px;}
/*---------.sjdp_center4_left{width:171px;}-----*/
.sjdp_pj_right{background:#fff;border:1px solid #ccc;width:750px;}


/*---------
.sjdp_center4_right li{margin:10px 10px 0 10px;line-height:24px;}
.sjdp_center4_right{ line-height:25px;}
.sjdp_center4_right_title{height:27px;line-height:27px;background:#EAEAEA;margin:10px;padding-left:10px;font-size:14px;}
.sjdp_center4_right_title p{padding-left:20px;background:url(../images/sjdp_right_title_bg.gif) no-repeat 0px 3px;height:27px;}
---*/

.sjdp_center4_bottom{height:36px;line-height:36px;border-top:1px solid #ccc;padding-left:10px;background:#FFFF9B;}
.sjdp_center4_bottom p,.sjdp_center4_bottom span{ float:left;}
.sjdp_center4_bottom span{margin-left:30px;font-weight:bold;color:#FF0000;height:36px;background:url(../images/tell_img1.gif) no-repeat 0 5px;padding-left:30px;}
.sjdp_center4_bottom p{font-weight:100;}


.sjdp_center_pl ul{margin:0 10px;line-height:24px;background:url(../images/sjdp_bg1.gif) repeat-x bottom;}
.sjdp_center_pl li{margin-bottom:5px;}
.sjdp_center_pl span{color:#3530FF;}


.sjdp_right_fbpl{margin-top:10px;}
.sjdp_right_fbpl span{line-height:24px;color:#333;}
.sjdp_right_fbpl span input{margin-right:5px;}


.sjdp_center5_title{background:url(../images/sjdp_title_bg.gif) repeat-x;height:28px;line-height:28px;border-bottom:1px solid #e1e1e1;padding:0 10px;font-weight:bold;}
.sjdp_center5{margin:10px;border:1px solid #ccc;}
.sjdp_center5_title span{float:right;font-weight:100;}


.sjdp_center5_news li{line-height:24px;text-align:center;width:150px;float:left; margin:0px; margin-top:10px; margin-left:3px;}
.sjdp_center5_news li img{display:block;}


/*-------------体验中心样式开始----------------*/
#Info_Main{width:950px; height:auto; padding-bottom:10px;margin-left:auto; margin-right:auto;border:solid 1px #ccc; background-color:fff;}
#Info_mainone{width:950px; height:495px; float:left;border-bottom:none; background-color:#EEEEEF;}
#Info_mainone_left{width:500px; height:480px; float:left;}
#Info_mainone_left_top{width:480px; height:auto; float:left;font-family:"黑体"; font-size:28px; margin-top:40px; margin-left:20px!important; margin-left:10px;}
#Info_mainone_left_top p{ margin-left:70px;}

.Info_mainone_left_con01{width:7px; height:281px; float:left; margin-left:20px!important; margin-left:10px; margin-top:20px; }
.Info_mainone_left_con02{width:440px; height:267px; float:left; margin-top:20px;background-color:#CDCDCD; background-image:url(../images/bg_Info_07.jpg); background-position:bottom; background-repeat:no-repeat; padding-left:2px; padding-top:8px; padding-bottom:8px;}
.Info_mainone_left_con03{width:15px; height:281px; float:left; margin-top:20px; }


#Info_mainone_right{width:420px; height:480px; float:right; padding-right:10px;}
.Info_mainone_right_one{width:420px; height:auto;margin-top:40px;}
.Info_mainone_right_one p{margin:0px;}
.Info_mainone_right_one p span{font-family:"黑体"; font-size:25px; line-height:40px;}

.Info_mainone_right_two{width:420px; height:auto;}
.Info_mainone_right_two p{margin:0px;}
.Info_mainone_right_two p span{font-family:"黑体"; font-size:34px;}

.Info_mainone_right_three{width:400px; height:20px; background-color:#FFFFFF; padding-top:10px;padding-left:10px; padding-right:10px; margin-bottom:10px;}
.Info_mainone_right_three p{margin:0px; float:left; margin-left:3px;}



#Info_maintwo{width:950px; height:auto; background-image:url(../images/Info_maintwo.jpg);background-repeat:repeat-y;border-top:none; float:left; margin-top:10px;}
.Info_maintwo_left{width:600px; float:left; height:auto; padding:20px;}
.Info_maintwo_left p{margin:0px; line-height:20px;}



.Info_maintwo_right{width:240px; float:right; height:auto; background-color:#EEEEEE; margin:10px 5px 10px 10px; padding:20px;}

.Info_maintwo_right_one{width:230px; height:auto; float:left; background-color:#EFF9FF;}
.Info_maintwo_right_one_title{width:230px; height:56px; float:left;}
.Info_maintwo_right_one_con{width:210px; height:auto; background-image:url(../images/Info_bgright_48.jpg); background-position:bottom; background-repeat:no-repeat; float:left; padding:10px;}

.Info_maintwo_right_one_con p{width:210px;margin:0px;font-family:"黑体"; margin-top:10px; color:#9F9E9E; font-size:14px;line-height:20px;}
.Info_maintwo_right_one_con p a{ font-size:14px; color:#45ADB0; text-decoration:none;}

.Info_maintwo_right_one_con p a:hover{ font-size:14px; color:#45ADB0; text-decoration:underline;}

.Pic00{width:230px; height:auto; margin-top:10px; float:left;}
.Picone{width:230px; height:auto; float:left; border:solid 1px #ccc;}
.Pictwo{width:230px; float:left; line-height:20px; text-align:center; font-size:14px;}
.Info_more{width:210px; float:left; text-align:right; margin-top:10px;}

.Info_Help{width:210px; float:left; text-align:right; margin-top:30px;}

.Info_Help a{font-family:"黑体"; font-size:20px; color:#0C0C0C; text-decoration:none;}

.Info_Help a:hover{font-family:"黑体"; font-size:20px; color:#FF0000; text-decoration:underline;}
/*-------------体验中心样式结束----------------*/


.Menubox_five {width:253px;height:24px;background-image:url(../images/banner_right2.gif); background-repeat:repeat-x;} 

.Menubox_five ul li { padding-left:15px; padding-right:15px;float:left; width:auto;height:24px;line-height:24px;background-image:url(images/banner_right2.gif); background-repeat:no-repeat;display:block;cursor:pointer;}

.Menubox_five ul li.link{display:block;cursor:pointer;}
.Menubox_five ul li.hover{background-image:url(../images/banner_right2_now.gif);display:block;cursor:pointer;}

.tab_five1 {color:#1f376d;}
.tab_five2 {color:#1f376d;}
.Contentbox_five{clear:both;margin-top:10px;width:auto} 
.Contentbox_five ul{width:auto; margin:0px;margin-left:6px; margin-right:6px; float:left;padding:5px 10px 5px 10px; list-style-image:none; list-style-type:none;}
.Contentbox_five ul dpan{margin:0px;}



.Menubox_six { width:200px;height:50px; padding-top:5px; padding-left:5px;line-height:40px;font-weight:bold;color:#BE3DBB; background-image:url(../images/bg15.png)} 
.Menubox_six  ul{margin:0px;}
.Menubox_six  ul li { width:95px; font-size:14px; height:40px; float:left;display:block;cursor:pointer; background-image:url(../images/pic22_r1_c200.jpg); background-repeat:no-repeat; line-height:40px; text-align:center;}

.Menubox_six  ul li.link{display:block;cursor:pointer;}
.Menubox_six  ul li.hover{display:block;cursor:pointer; font-size:18px; background-image:url(../images/pic22_r1_c1.jpg); background-repeat:no-repeat;}


.tab_six1 {color:#1f376d;}
.tab_six2 {color:#1f376d;}
.Contentbox_six{clear:both;margin-top:10px;width:185px; padding-left:10px;} 
.Contentbox_six ul{width:auto; margin:0px;float:left;list-style-image:none; list-style-type:none;}
.Contentbox_six ul li{ line-height:20px; list-style-image:url(../images/Icon.jpg); margin-left:20px!important; margin-left:0px;}
.Contentbox_six ul li a{color:#0033FF; text-decoration:none;}
.Contentbox_six ul li a:hover{color:#ff0000; text-decoration:underline;}


/*生活频道特效*/
img{border:0px; margin:0pc; padding:0px;}
.Lift_menu1{ float:left;width:143px; height:40px;text-align:center;display:block; float:left;background-image:url(images/top1.png); background-repeat:no-repeat; }
.Lift_menu1 a{width:143px; height:40px;display:block;}
.Lift_menu1 a:hover{width:143px; height:40px;display:block;}

#LM_ONE1{DISPLAY: none;Z-INDEX:100000000;background-color:#DB1B1A;WIDTH:133px; border:solid 1px #fff;POSITION: absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80;  margin-top:30px;  }

*html #LM_ONE1{DISPLAY: none;Z-INDEX:100000000;background-color:#DB1B1A;WIDTH:133px; border:solid 1px #fff;POSITION: absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80; margin-top:0px;}

*+html #LM_ONE1{DISPLAY: none;Z-INDEX:100000000;background-color:#DB1B1A;WIDTH:133px; border:solid 1px #fff;POSITION: absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity:.80; opacity: .80;  margin-top:0px;}
.conter { position: relative ;} 




.Lift_menu1{width:133px; height:40px; text-align:center;position: absolute;}
.Lift_menu1 a{color:#FF0000; font-weight:bold; font-size:14px;}

.Lift_menu2{width:133px; height:auto; font-size:13px; text-align:center; margin-top:40px;}

.Lift_menu2 ul{margin:0px; width:133px; text-align:center; }
.Lift_menu2 ul li{width:133px; height:30px;font-weight:bold; border-bottom:solid 1px #fff; line-height:30px;}
.Lift_menu2 ul li a{ height:30px;color:#fff; text-decoration:none; text-align:center; display:block; }
.Lift_menu2 ul li a:hover{ height:30px;background-color:#F2B3B3; color:#FF0000;text-decoration:underline; display:block; text-align:center;}



/*所有服务*/
#nav { line-height:30px; list-style-type: none;} 
#nav a { display: block; width:80px; text-align:center; text-decoration:none;  } 
#nav li { float: left; width:80px;text-align:center; background-image:url(../images/sjlm_img1.gif); background-repeat:no-repeat; } 
#nav li span{float:left;}

#nav li ul { line-height:30px; list-style-type: none;left: -999em; width:120px; position: absolute; margin:0px; border:solid 1px #FFCC00;} 
#nav li ul li{ float: left; width:120px;background: #F6F6F6; } 
#nav li ul a{ display: block; width:auto; text-decoration:none; } 
#nav li ul a:hover { color:#F3F3F3;text-decoration:none;font-weight:normal; background:#FF9900;} 

#nav li:hover ul { left: auto; } 
#nav li.sfhover ul {left: auto; } 
.select {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #246cee;  COLOR: #ffffff !important; PADDING-TOP: 1px
}